.top {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(34, 34, 34);
}

h2 {
  color: white;
  font-size: 3rem;
  font-weight: 100;
}

.screen {
  grid-column: 1/-1;
  color: white;
  text-align: right;
  padding-bottom: 4.5rem;
  font-size: 3rem;
  overflow: hidden;
}
